@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.grid {
  width: 100%;
  height: 100vh; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  width: 8.33%;
  height: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

#home-background {
  background-image: url("../images/tło-head-v2_01.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#home-logo {
  background-image: url("../images/logo-railcom.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

.arrow {
  background-image: url("../images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

.arrow-red {
  background-image: url("../images/arrow-red.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#about-background {
  background-image: url("../images/tlo-about-v2.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-1 #products-common-rail {
  background-image: url("../images/wtryski-orange-v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-1 #products-injector {
  background-image: url("../images/wtryski-black-v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

.arrow-black {
  background-image: url("../images/arrow-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #background-denso {
  background-image: url("../images/wtryski-1v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #background-bosch {
  background-image: url("../images/wtryski-2v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #background-continental {
  background-image: url("../images/wtryski-3v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #background-delphi {
  background-image: url("../images/wtryski-4v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #background-siemens {
  background-image: url("../images/wtryski-5v.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #products-denso {
  background-image: url("../images/denso.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #products-bosch {
  background-image: url("../images/bosh.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #products-continental {
  background-image: url("../images/continental.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #products-delphi {
  background-image: url("../images/delphi.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#products-2 #products-siemens {
  background-image: url("../images/siemens.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: " "; }

#contact-background {
  background-image: url("../images/tlo-contact-v2.png");
  background-size: cover;
  background-repeat: no-repeat; }
  #contact-background #footer #contact-logo {
    background-image: url("../images/logo-contact.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: " "; }
  #contact-background #footer #studio-18 {
    background-image: url("../images/logo-studio18.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: " "; }

@font-face {
  font-family: 'oswald-regular';
  src: url("../fonts/oswald-regular.woff2") format("woff2"), url("../fonts/oswald-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald-bold';
  src: url("../fonts/oswald-bold.woff2") format("woff2"), url("../fonts/oswald-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova-regular';
  src: url("../fonts/proxima-nova-regular.woff2") format("woff2"), url("../fonts/proxima-nova-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova-alt-light';
  src: url("../fonts/proxima-nova-alt-light.woff2") format("woff2"), url("../fonts/proxima-nova-alt-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

body {
  color: white;
  line-height: 105%; }
  body h1 {
    font-family: 'oswald-bold';
    font-size: 32px;
    padding-bottom: 15px; }
  body h4 {
    font-family: 'oswald-bold';
    font-size: 12px;
    padding-top: 15px; }
  body p {
    font-family: 'proxima-nova-regular';
    font-size: 12px; }
  body span {
    color: orange; }

.nav-panel {
  font-family: 'oswald-regular';
  font-size: 14px; }

.lang p {
  font-family: 'oswald-regular';
  font-size: 12px; }

#common-rail {
  color: black; }

.products-other-text p {
  color: black; }

@media (max-width: 768px) {
  body {
    background: white; }
  /* ---- HOME ---- */
  #home-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #home-background .nav-panel {
      width: 100%;
      height: 25%; }
      #home-background .nav-panel .nav-list {
        display: none; }
    #home-background #home {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #home-background #home #home-logo {
        width: 80%;
        height: 50%; }
  /* ---- ABOUT ---- */
  #about-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #about-background .nav-panel {
      width: 100%;
      height: 25%; }
      #about-background .nav-panel .nav-list {
        display: none; }
    #about-background #about {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #about-background #about #about-text {
        max-width: 90%;
        height: 50%;
        padding-left: 30px; }
  /* ---- PRODUCTS ---- */
  #products-1 {
    height: 200vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px; }
    #products-1 #products-common-rail {
      height: 100%;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 #products-common-rail #common-rail {
        width: 90%;
        height: 50%;
        padding-left: 10px; }
    #products-1 #products-injector {
      height: 100%;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 #products-injector #injector {
        width: 90%;
        height: 50%;
        padding-right: 10px; }
  .products-other-container {
    display: none; }
  #products-2 {
    height: 100vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px; }
    #products-2 #products-second-page {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #products-2 #products-second-page #background-denso {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-denso #products-denso {
          width: 65%;
          height: 50%; }
      #products-2 #products-second-page #background-bosch {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-bosch #products-bosch {
          width: 80%;
          height: 60%; }
      #products-2 #products-second-page #background-continental {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-continental #products-continental {
          width: 80%;
          height: 54%; }
      #products-2 #products-second-page #background-delphi {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-delphi #products-delphi {
          width: 64%;
          height: 80%; }
      #products-2 #products-second-page #background-siemens {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-siemens #products-siemens {
          width: 70%;
          height: 50%; }
    #products-2 .products-other-container {
      display: none; }
  /* ---- CONTACT ---- */
  #contact-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #contact-background .nav-panel {
      width: 100%;
      height: 25%; }
      #contact-background .nav-panel .nav-list {
        display: none; }
    #contact-background #contact-1 {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #contact-background #contact-1 #contact-text {
        max-width: 90%;
        height: 50%;
        padding-left: 30px; }
        #contact-background #contact-1 #contact-text #contact-detail {
          padding-top: 25px; }
        #contact-background #contact-1 #contact-text #contact-telephone {
          padding-top: 15px; }
    #contact-background #footer {
      width: 100%;
      height: 25%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 10px; }
      #contact-background #footer #contact-line {
        border-top: 1px solid gray;
        width: 100%;
        height: 5%; }
      #contact-background #footer #contact-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 100%;
        height: 20%; }
        #contact-background #footer #contact-container #contact-logo {
          height: 100%;
          width: 20%; }
        #contact-background #footer #contact-container #studio-18 {
          height: 80%;
          width: 10%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background: white; }
  /* ---- HOME ---- */
  #home-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #home-background .nav-panel {
      width: 100%;
      height: 25%; }
      #home-background .nav-panel .nav-list {
        display: none; }
    #home-background #home {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #home-background #home #home-logo {
        width: 30%;
        height: 30%; }
  /* ---- ABOUT ---- */
  #about-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #about-background .nav-panel {
      width: 100%;
      height: 25%; }
      #about-background .nav-panel .nav-list {
        display: none; }
    #about-background #about {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #about-background #about #about-text {
        max-width: 50%;
        height: 50%;
        padding-left: 100px; }
  /* ---- PRODUCTS ---- */
  #products-1 {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0 15px 15px; }
    #products-1 #products-common-rail {
      height: 100%;
      width: 49%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 #products-common-rail #common-rail {
        width: 90%;
        height: 50%;
        padding-left: 85px; }
    #products-1 #products-injector {
      height: 100%;
      width: 49%;
      border-right: 8px solid orange;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 #products-injector #injector {
        width: 90%;
        height: 50%;
        padding-right: 85px; }
    #products-1 .products-other-container {
      height: 100%;
      width: 2%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 .products-other-container .products-other-text {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-1 .products-other-container .products-other-text p {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
      #products-1 .products-other-container .arrow-black-container {
        width: 100%;
        height: 5%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-1 .products-other-container .arrow-black-container .arrow-black {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          width: 100%;
          height: 20%;
          content: " "; }
  #products-2 {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0 15px 15px; }
    #products-2 #products-second-page {
      width: 98%;
      height: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #products-2 #products-second-page #background-denso {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-denso #products-denso {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-bosch {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-bosch #products-bosch {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-continental {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-continental #products-continental {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-delphi {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-delphi #products-delphi {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-siemens {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-siemens #products-siemens {
          width: 90%;
          height: 10%; }
    #products-2 .products-other-container {
      height: 100%;
      width: 2%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-2 .products-other-container .products-other-text {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 .products-other-container .products-other-text p {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
      #products-2 .products-other-container .arrow-black-container {
        width: 100%;
        height: 5%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end; }
        #products-2 .products-other-container .arrow-black-container .arrow-black {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          width: 100%;
          height: 20%;
          content: " "; }
  /* ---- CONTACT ---- */
  #contact-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #contact-background .nav-panel {
      width: 100%;
      height: 25%; }
      #contact-background .nav-panel .nav-list {
        display: none; }
    #contact-background #contact-1 {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #contact-background #contact-1 #contact-text {
        max-width: 50%;
        height: 50%;
        padding-left: 100px; }
        #contact-background #contact-1 #contact-text #contact-detail {
          padding-top: 25px; }
        #contact-background #contact-1 #contact-text #contact-telephone {
          padding-top: 15px; }
    #contact-background #footer {
      width: 100%;
      height: 25%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 100px; }
      #contact-background #footer #contact-line {
        border-top: 1px solid gray;
        width: 100%;
        height: 10%; }
      #contact-background #footer #contact-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 100%;
        height: 40%; }
        #contact-background #footer #contact-container #contact-logo {
          height: 100%;
          width: 20%; }
        #contact-background #footer #contact-container #studio-18 {
          height: 80%;
          width: 10%; } }

@media (min-width: 1024px) {
  body {
    background: white; }
  /* ---- HOME ---- */
  #home-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #home-background .nav-panel {
      width: 100%;
      height: 25%; }
      #home-background .nav-panel .hamburger-menu {
        display: none; }
    #home-background #home {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #home-background #home #home-logo {
        width: 25%;
        height: 25%; }
    #home-background .arrow-container {
      width: 100%;
      height: 25%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end; }
      #home-background .arrow-container .arrow {
        width: 2%;
        height: 20%;
        content: " "; }
  /* ---- ABOUT ---- */
  #about-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #about-background .nav-panel {
      width: 100%;
      height: 25%; }
      #about-background .nav-panel .hamburger-menu {
        display: none; }
    #about-background #about {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #about-background #about #about-text {
        width: 46%;
        height: 50%;
        padding-left: 200px; }
    #about-background .arrow-container {
      width: 100%;
      height: 25%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end; }
      #about-background .arrow-container .arrow {
        width: 2%;
        height: 20%;
        content: " "; }
  /* ---- PRODUCTS ---- */
  #products-1 {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0 35px 35px; }
    #products-1 #products-common-rail {
      height: 100%;
      width: 49%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 #products-common-rail #common-rail {
        width: 90%;
        height: 50%;
        padding-left: 170px; }
    #products-1 #products-injector {
      height: 100%;
      width: 49%;
      border-right: 8px solid orange;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 #products-injector #injector {
        width: 90%;
        height: 50%;
        padding-right: 170px; }
    #products-1 .products-other-container {
      height: 100%;
      width: 2%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-1 .products-other-container .products-other-text {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-1 .products-other-container .products-other-text p {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
      #products-1 .products-other-container .arrow-black-container {
        width: 100%;
        height: 5%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-1 .products-other-container .arrow-black-container .arrow-black {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          width: 100%;
          height: 20%;
          content: " "; }
  #products-2 {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0 35px 35px; }
    #products-2 #products-second-page {
      width: 98%;
      height: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #products-2 #products-second-page #background-denso {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-denso #products-denso {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-bosch {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-bosch #products-bosch {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-continental {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-continental #products-continental {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-delphi {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-delphi #products-delphi {
          width: 90%;
          height: 10%; }
      #products-2 #products-second-page #background-siemens {
        width: 20%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 #products-second-page #background-siemens #products-siemens {
          width: 90%;
          height: 10%; }
    #products-2 .products-other-container {
      height: 100%;
      width: 2%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #products-2 .products-other-container .products-other-text {
        width: 100%;
        height: 20%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #products-2 .products-other-container .products-other-text p {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
      #products-2 .products-other-container .arrow-black-container {
        width: 100%;
        height: 5%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end; }
        #products-2 .products-other-container .arrow-black-container .arrow-black {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          width: 100%;
          height: 20%;
          content: " "; }
  /* ---- CONTACT ---- */
  #contact-background {
    height: 100vh;
    border-top: 8px solid orange; }
    #contact-background .nav-panel {
      width: 100%;
      height: 25%; }
      #contact-background .nav-panel .hamburger-menu {
        display: none; }
    #contact-background #contact-1 {
      width: 100%;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #contact-background #contact-1 #contact-text {
        width: 46%;
        height: 50%;
        padding-left: 200px; }
        #contact-background #contact-1 #contact-text #contact-detail {
          padding-top: 25px; }
        #contact-background #contact-1 #contact-text #contact-telephone {
          padding-top: 15px; }
    #contact-background #footer {
      width: 100%;
      height: 25%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 200px; }
      #contact-background #footer #contact-line {
        border-top: 1px solid gray;
        width: 100%;
        height: 10%; }
      #contact-background #footer #contact-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 100%;
        height: 40%; }
        #contact-background #footer #contact-container #contact-logo {
          height: 100%;
          width: 20%; }
        #contact-background #footer #contact-container #studio-18 {
          height: 80%;
          width: 10%; } }

/* ---- NAV-PANEL ---- */
.nav-panel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 200px;
  /* ---- LANG ---- */
  /* ---- NAV ---- */ }
  @media (min-width: 768px) and (max-width: 1023px), (max-width: 768px) {
    .nav-panel {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav-panel {
      padding: 30px 100px; } }
  @media (max-width: 768px) {
    .nav-panel {
      padding: 30px; } }
  .nav-panel .lang {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 50%;
    width: 10%; }
    .nav-panel .lang button {
      width: 24px;
      height: 22px;
      border: 1px solid white;
      margin: 2px;
      text-align: left;
      text-decoration: none;
      background: transparent;
      color: white; }
  .nav-panel .nav-list {
    height: 50%;
    width: 24%; }
    .nav-panel .nav-list a {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      color: white; }
      .nav-panel .nav-list a .line {
        width: 20%;
        height: 2px;
        content: " ";
        background-color: white; }
      .nav-panel .nav-list a:hover {
        color: orange; }
        .nav-panel .nav-list a:hover .line {
          width: 50%;
          background-color: orange; }
  .nav-panel .hamburger-menu {
    width: 30px;
    height: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer; }
    .nav-panel .hamburger-menu .line {
      width: 100%;
      height: 2px;
      content: " ";
      background-color: white; }

/*# sourceMappingURL=main.css.map */