$large: "(min-width: 1024px)";

@media #{$large} {
    body {
        background: white;
    }

/* ---- HOME ---- */

#home-background {
    height: 100vh;
    border-top: 8px solid orange;

    .nav-panel {
        width: 100%;
        height: 25%;
        //background-color: blue;
        .nav-list{
            .closebtn {
                display: none;
            }
        }
        .hamburger-menu {
            display: none;
        }
    }

    #home {
        width: 100%;
        height: 50%;
        //background-color: red;

        display: flex;
        justify-content: center;
        align-items: center;

        #home-logo {
            width: 25%;
            height: 25%;
        }
    }

    .arrow-container {
        width: 100%;
        height: 25%;
        //background-color: lightblue;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .arrow {
            width: 2%;
            height: 20%;
            //background-color: green;
            content: " ";
        }
    }
}

/* ---- ABOUT ---- */

#about-background {
    height: 100vh;
    border-top: 8px solid orange;

    .nav-panel {
        width: 100%;
        height: 25%;
        //background-color: blue;

        .hamburger-menu {
            display: none;
        }
    }

    #about {
        width: 100%;
        height: 50%;
        //background-color: red;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        #about-text {
            width: 46%;
            height: 50%;

            padding-left: 200px;
        }
    }

    .arrow-container {
        width: 100%;
        height: 25%;
        //background-color: lightblue;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .arrow {
            width: 2%;
            height: 20%;
            //background-color: green;
            content: " ";
        }
    }

}

/* ---- PRODUCTS ---- */


#products-1 {
    height: 100vh;

    display: flex;

    padding: 35px 0 35px 35px;

    #products-common-rail {
        height: 100%;
        width: 49%;

        //background-color: red;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        #common-rail {
            width: 90%;
            height: 50%;
            padding-left: 170px;
        }

    }

    #products-injector {
        height: 100%;
        width: 49%;

        border-right: 8px solid orange;
        //background-color: blue;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        #injector {
            width: 90%;
            height: 50%;
            padding-right: 170px;
        }
    }

    .products-other-container {
        height: 100%;
        width: 2%;

        //background-color: green;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .products-other-text {
            //background-color: orange;

            width: 100%;
            height: 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
            transform: rotate(-90deg);
            }
        }

        .arrow-black-container {
            //background-color: orange;

            width: 100%;
            height: 5%;

            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-black {
                transform: rotate(-90deg);
                width: 100%;
                height: 20%;
                content: " ";
            }
        }
    }

}

#products-2 {
    height: 100vh;

    display: flex;

    padding: 35px 0 35px 35px;


    #products-second-page {
        width: 98%;
        height: 100%;

        //background-color: purple;

        display: flex;

        #background-denso {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-denso {
                width: 90%;
                height: 10%;
            }
        }

        #background-bosch {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-bosch {
                width: 90%;
                height: 10%;
            }
        }

        #background-continental {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-continental {
                width: 90%;
                height: 10%;
            }
        }

        #background-delphi {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-delphi {
                width: 90%;
                height: 10%;
            }
        }

        #background-siemens {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-siemens {
                width: 90%;
                height: 10%;
            }
        }
    }

    .products-other-container {
        height: 100%;
        width: 2%;

        //background-color: green;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .products-other-text {
            //background-color: orange;

            width: 100%;
            height: 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
            transform: rotate(-90deg);
            }
        }

        .arrow-black-container {
            //background-color: orange;

            width: 100%;
            height: 5%;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            .arrow-black {
                transform: rotate(90deg);
                width: 100%;
                height: 20%;
                content: " ";
            }
        }
    }

}

/* ---- CONTACT ---- */

#contact-background {
    height: 100vh;
    border-top: 8px solid orange;

    .nav-panel {
        width: 100%;
        height: 25%;
        //background-color: blue;

        .hamburger-menu {
            display: none;
        }
    }

    #contact-1 {
        width: 100%;
        height: 50%;
        //background-color: red;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        #contact-text {
            width: 46%;
            height: 50%;

            padding-left: 200px;

            #contact-detail {
                padding-top: 25px;
            }
            #contact-telephone {
                padding-top: 15px;
            }
        }
    }

    #footer {
        width: 100%;
        height: 25%;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        padding: 0 200px;

        #contact-line {
            border-top: 1px solid gray;
            width: 100%;
            height: 10%;
        }

        #contact-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            width: 100%;
            height: 40%;

            #contact-logo {
                height: 100%;
                width: 20%;
            }

            #studio-18 {
                height: 80%;
                width: 10%;
            }
        }
    }
}











}
