$medium: "(min-width: 768px) and (max-width: 1023px)";

@media #{$medium} {
    body {
        background: white;
    }

/* ---- HOME ---- */

#home-background {
    height: 100vh;
    border-top: 8px solid orange;

    .nav-panel {
        width: 100%;
        height: 25%;

        .nav-list {
            display: none;
            position: fixed;
            z-index: 1;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;

            background-color: #111;

            overflow-x: hidden;
            transition: 0.9s;
            opacity: 0.9;

            a:nth-child(2) {
                margin-top: 100px;
            }

            a {
                justify-content: center;
                font-size: 20px;
                margin: 60px;

                span {
                    display: none;
                }
            }
            .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                cursor: pointer;
                margin: 40px;
            }
        }
    }

    #home {
        width: 100%;
        height: 50%;
        //background-color: red;

        display: flex;
        justify-content: center;
        align-items: center;

        #home-logo {
            width: 30%;
            height: 30%;
        }
    }

}

/* ---- ABOUT ---- */

#about-background {
    height: 100vh;
    border-top: 8px solid orange;

    .nav-panel {
        width: 100%;
        height: 25%;

        .nav-list {
            display: none;
            opacity: 0;
        }
    }

    #about {
        width: 100%;
        height: 50%;
        //background-color: red;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        #about-text {
            max-width: 50%;
            height: 50%;

            padding-left: 100px;
        }
    }

}

/* ---- PRODUCTS ---- */

#products-1 {
    height: 100vh;

    display: flex;

    padding: 15px 0 15px 15px;

    #products-common-rail {
        height: 100%;
        width: 49%;

        //background-color: red;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        #common-rail {
            width: 90%;
            height: 50%;
            padding-left: 85px;
        }

    }

    #products-injector {
        height: 100%;
        width: 49%;

        border-right: 8px solid orange;
        //background-color: blue;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        #injector {
            width: 90%;
            height: 50%;
            padding-right: 85px;
        }
    }

    .products-other-container {
        height: 100%;
        width: 2%;

        //background-color: green;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .products-other-text {
            //background-color: orange;

            width: 100%;
            height: 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
            transform: rotate(-90deg);
            }
        }

        .arrow-black-container {
            //background-color: orange;

            width: 100%;
            height: 5%;

            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-black {
                transform: rotate(-90deg);
                width: 100%;
                height: 20%;
                content: " ";
            }
        }
    }

}

#products-2 {
    height: 100vh;

    display: flex;

    padding: 15px 0 15px 15px;


    #products-second-page {
        width: 98%;
        height: 100%;

        //background-color: purple;

        display: flex;

        #background-denso {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-denso {
                width: 90%;
                height: 10%;
            }
        }

        #background-bosch {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-bosch {
                width: 90%;
                height: 10%;
            }
        }

        #background-continental {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-continental {
                width: 90%;
                height: 10%;
            }
        }

        #background-delphi {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-delphi {
                width: 90%;
                height: 10%;
            }
        }

        #background-siemens {
            width: 20%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            #products-siemens {
                width: 90%;
                height: 10%;
            }
        }
    }

    .products-other-container {
        height: 100%;
        width: 2%;

        //background-color: green;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .products-other-text {
            //background-color: orange;

            width: 100%;
            height: 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
            transform: rotate(-90deg);
            }
        }

        .arrow-black-container {
            //background-color: orange;

            width: 100%;
            height: 5%;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            .arrow-black {
                transform: rotate(90deg);
                width: 100%;
                height: 20%;
                content: " ";
            }
        }
    }

}

/* ---- CONTACT ---- */

#contact-background {
    height: 100vh;
    border-top: 8px solid orange;

    .nav-panel {
        width: 100%;
        height: 25%;
        //background-color: blue;

        .nav-list {
            display: none;
            opacity: 0;
        }
    }

    #contact-1 {
        width: 100%;
        height: 50%;
        //background-color: red;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        #contact-text {
            max-width: 50%;
            height: 50%;

            padding-left: 100px;

            #contact-detail {
                padding-top: 25px;
            }
            #contact-telephone {
                padding-top: 15px;
            }
        }
    }

    #footer {
        width: 100%;
        height: 25%;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        padding: 0 100px;

        #contact-line {
            border-top: 1px solid gray;
            width: 100%;
            height: 10%;
        }

        #contact-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            width: 100%;
            height: 40%;

            #contact-logo {
                height: 100%;
                width: 20%;
            }

            #studio-18 {
                height: 80%;
                width: 10%;
            }
        }

    }
}


}
