$small: "(max-width: 768px)";

@media #{$small} {
    body {
        background: white;
    }

    /* ---- HOME ---- */

    #home-background {
        height: 100vh;
        border-top: 8px solid orange;

        .nav-panel {
            width: 100%;
            height: 25%;

            .nav-list {
                display: none;
                position: fixed;
                z-index: 1;
                height: 100vh;
                width: 100%;
                top: 0;
                left: 0;

                background-color: #111;

                overflow-x: hidden;
                transition: 0.9s;
                opacity: 0.9;

                a:nth-child(2) {
                    margin-top: 100px;
                }

                a {
                    justify-content: center;
                    font-size: 20px;
                    margin: 60px;

                    span {
                        display: none;
                    }
                }
                .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                    cursor: pointer;
                    margin: 40px;
                }
            }
        }

        #home {
            width: 100%;
            height: 50%;
            //background-color: red;

            display: flex;
            justify-content: center;
            align-items: center;

            #home-logo {
                width: 80%;
                height: 50%;
            }
        }

    }

    /* ---- ABOUT ---- */

    #about-background {
        height: 100vh;
        border-top: 8px solid orange;

        .nav-panel {
            .nav-list {
                display: none;
                opacity: 0;
            }
        }

        #about {
            width: 100%;
            height: 50%;
            //background-color: red;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            #about-text {
                max-width: 90%;
                height: 50%;

                padding-left: 30px;
            }
        }

    }

    /* ---- PRODUCTS ---- */

    #products-1 {
        height: 200vh;
        width: 100%;

        display: flex;
        flex-direction: column;

        padding: 10px;

        #products-common-rail {
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            #common-rail {
                width: 90%;
                height: 50%;
                padding-left: 10px;
            }

        }

        #products-injector {
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            #injector {
                width: 90%;
                height: 50%;
                padding-right: 10px;
            }
        }

    }

    .products-other-container {
        display: none;
    }


    #products-2 {
        height: 100vh;
        width: 100%;

        display: flex;

        padding: 10px;

        #products-second-page {
            width: 100%;
            height: 100%;

            //background-color: purple;

            display: flex;
            flex-direction: column;

            #background-denso {
                width: 100%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;
                #products-denso {
                    width: 65%;
                    height: 50%;
                }
            }

            #background-bosch {
                width: 100%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;
                #products-bosch {
                    width: 80%;
                    height: 60%;
                }
            }

            #background-continental {
                width: 100%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;
                #products-continental {
                    width: 80%;
                    height: 54%;
                }
            }

            #background-delphi {
                width: 100%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;
                #products-delphi {
                    width: 64%;
                    height: 80%;
                }
            }

            #background-siemens {
                width: 100%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;
                #products-siemens {
                    width: 70%;
                    height: 50%;
                }
            }
        }

        .products-other-container {
            display: none;
        }

    }

    /* ---- CONTACT ---- */

    #contact-background {
        height: 100vh;
        border-top: 8px solid orange;

        .nav-panel {
            width: 100%;
            height: 25%;
            //background-color: blue;

            .nav-list {
                display: none;
                opacity: 0;
            }
        }

        #contact-1 {
            width: 100%;
            height: 50%;
            //background-color: red;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            #contact-text {
                max-width: 90%;
                height: 50%;

                padding-left: 30px;

                #contact-detail {
                    padding-top: 25px;
                }
                #contact-telephone {
                    padding-top: 15px;
                }
            }
        }

        #footer {
            width: 100%;
            height: 25%;

            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            padding: 0 10px;

            #contact-line {
                border-top: 1px solid gray;
                width: 100%;
                height: 5%;
            }

            #contact-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                width: 100%;
                height: 20%;

                #contact-logo {
                    height: 100%;
                    width: 20%;
                }

                #studio-18 {
                    height: 80%;
                    width: 10%;
                }
            }

        }
    }


    }
