// -- HOME

#home-background {
    background-image: url('../images/tło-head-v2_01.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: " ";
}

#home-logo {
    background-image: url('../images/logo-railcom.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: " ";
}

.arrow {
    background-image: url('../images/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: " ";
}

.arrow-red {
    background-image: url('../images/arrow-red.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: " ";
}

// -- ABOUT

#about-background {
    background-image: url('../images/tlo-about-v2.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: " ";

}


// -- PRODUCTS


#products-1 {

    #products-common-rail {
        background-image: url('../images/wtryski-orange-v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }

    #products-injector {
        background-image: url('../images/wtryski-black-v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }
}


.arrow-black {
    background-image: url('../images/arrow-black.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: " ";
}


#products-2 {
    //visibility: hidden;

    #background-denso {
        background-image: url('../images/wtryski-1v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }
    #background-bosch {
        background-image: url('../images/wtryski-2v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }
    #background-continental {
        background-image: url('../images/wtryski-3v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }
    #background-delphi {
        background-image: url('../images/wtryski-4v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }
    #background-siemens {
        background-image: url('../images/wtryski-5v.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: " ";
    }

    #products-denso {
        background-image: url('../images/denso.png');
        background-size: contain;
        background-repeat: no-repeat;
        content: " ";
    }
    #products-bosch {
        background-image: url('../images/bosh.png');
        background-size: contain;
        background-repeat: no-repeat;
        content: " ";
    }
    #products-continental {
        background-image: url('../images/continental.png');
        background-size: contain;
        background-repeat: no-repeat;
        content: " ";
    }
    #products-delphi {
        background-image: url('../images/delphi.png');
        background-size: contain;
        background-repeat: no-repeat;
        content: " ";
    }
    #products-siemens {
        background-image: url('../images/siemens.png');
        background-size: contain;
        background-repeat: no-repeat;
        content: " ";
    }
}


// -- CONTACT

#contact-background {
    background-image: url('../images/tlo-contact-v2.png');
    background-size: cover;
    background-repeat: no-repeat;

    #contact-1 {

    }
    #contact-2 {
        //visibility: hidden;
    }
    #footer {
        #contact-logo {
            background-image: url('../images/logo-contact.png');
            background-size: contain;
            background-repeat: no-repeat;
            content: " ";
        }
        #studio-18 {
            background-image: url('../images/logo-studio18.png');
            background-size: contain;
            background-repeat: no-repeat;
            content: " ";
        }
    }
}
