@font-face {
    font-family: 'oswald-regular';
    src: url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald-bold';
    src: url('../fonts/oswald-bold.woff2') format('woff2'),
         url('../fonts/oswald-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova-regular';
    src: url('../fonts/proxima-nova-regular.woff2') format('woff2'),
         url('../fonts/proxima-nova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova-alt-light';
    src: url('../fonts/proxima-nova-alt-light.woff2') format('woff2'),
         url('../fonts/proxima-nova-alt-light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

body {
    color: white;
    line-height: 105%;
    h1 {
        font-family: 'oswald-bold';
        font-size: 32px;
        padding-bottom: 15px;
    }

    h4 {
        font-family: 'oswald-bold';
        font-size: 12px;
        padding-top: 15px;
    }

    p {
        font-family: 'proxima-nova-regular';
        font-size: 12px;
    }
    span {
        color: orange;
    }
}

.nav-panel {
    font-family: 'oswald-regular';
    font-size: 14px;
}

.lang {
    p {
        font-family: 'oswald-regular';
        font-size: 12px;
    }
}

#common-rail {
    color: black;
}

.products-other-text {
    p {
        color: black;
    }
}
